################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Rochas.PDFGenerator
/Rochas.PDFGenerator/bin/Release
/Rochas.PDFGenerator/obj
/.vs/ProjectEvaluation
/Rochas.PDFGenerator/bin/Debug
/Rochas.PDFTests/bin
/Rochas.PDFTests/obj
